*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    color:rgba(255, 255, 255, 0.87);
}
html, body{
    background-color: #121212;
}
a{
    text-decoration: none;
}