<div class="contenedor-preview-cesta">
    <div class="precio-total-preview">
        <p>Total</p>
        <hr>
        <p>60€</p>
    </div>
    <a href="" (click)="sendData()">Pay now</a>
    <hr>
    <div *ngFor="let product of setData.products; let i=index" class="contenedor-producto-cesta">
        <a [href]="product.link"><img [src]="product.image" alt="image-product"></a>
            <div class="seccion-prod-prev-cesta">
                <div class="selector-cantidad">
                    <button (click)="menosCantidad(i)">-</button>
                    <p>{{cantidad[i]}}</p>
                    <button (click)="masCantidad(i)">+</button>
                </div>
                <p class="precio-articulo">{{product.price}}</p>
                <button class="boton-eliminar" (click)="eliminarProducto(i)"><img src="../../../assets/trash.svg" alt="">Delete</button>
            </div>
    </div>
</div>