.image-gallery-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
}
.images-row{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background-color: black;
}
.boton-lateral{
    width: 100%;
    cursor: pointer;
}
.boton-lateral img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.main-image{
    height: 100%;
    width: 85%;
    overflow: hidden;
    position: relative;
}
.main-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
}