.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
    box-shadow: 1px 5px 20px 1px black;
    padding: 0 5%;
    font-size: 20px;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: white;
}

.navbar-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
}
.navbar-container ul button{
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.carrito{
    position: absolute;
    top:60px;
    right: 5%;
    z-index: 30;
}

.active-link{
    color: blue;
}